body {
    font-family: "Verdana", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
}

h1 {
    font-style: italic;
    color: #0d9c90;
}

h2 {
    margin-top: 2em;
    color: mediumvioletred
}

.question {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.answer-choice {
    margin: 5px;
}

button {
    width: 500px;
    padding: 15px;
    font-size: 15px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none;
}
